section.faq{
    padding-top: 2rem;
    & h2{
        font-size: 2.5rem;
        display: block;
        position: relative;
        font-family: 'Fjalla One', sans-serif;
        transform: skew(-10deg);
        display: block;
        color: $red;
        text-shadow: $shadow 1px 1px, $shadow 2px 2px;
        min-width: 10px;
        min-height: 10px;
        position: relative;
    }
    & p{
        color: white;
    }
}
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

